.careerPage2{
    width: 100%;
    background-color: #E5E5E5;
    height: 100vh;
}
.careerPage2-content{
    padding: 30px;
}
.careerPage2-jobSection{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.careerPage2-aboutJob {
    background: #FFFFFF;
    border-radius: 20px;
}
.careerPage2-jobTitle{
    display: flex;
    margin-left: 6rem;
    word-break:break-all;
    padding-right: 6rem;
}
.careerPage2-jobTitle > p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-width: 15rem;
}
.careerPage2-jobDescriptionContainer{
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
   
}
.careerPage2-jobDescription{
    flex: 3;
}
.careerPage2-jobDescription > p {
    font-family: sans-serif;
    font-size: 2rem;
    text-align: left;
    color: #000000;
    margin-left: 6rem;
    margin-top: 1rem;
    font-weight: lighter;
    min-width: 15rem;
}
.careerPage2-paidOrGratis {
    flex: 1;
}

.careerPage2-paidOrGratis > h4{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 6rem;
    word-break: keep-all;
}

.paidOrGratisSelected {
    color: rgb(36, 238, 36);
}

.paidOrGratisNotSelected {
    color: red;
}


.gratisChosen{
    margin-top: -3rem;
}

.careerPage2-workplaceType {
  text-align: left;
  padding-bottom: 2rem;
  font-family: sans-serif;
  font-size: 3rem;
  color: #000000;
  margin-left: 6rem;
  margin-top: 1.5rem;
}
