.careerDashboard{
    background-color: #e5e5e5;
    height: 180vh;
    width: 100%;
}

.heading{
width: 100%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;
color: #000000;
display: grid;
align-content: center;
height: 20vh;
}
.dashboardRow1 {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 60rem 6rem 42rem 3rem; 
    height: 8vh;
}

.title {
    /* padding: 20px 30px; */
    margin: 8px 0;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    grid-column: 2/3;
    }
.employment {
    margin: 8px 0;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    grid-column: 4/5;
    }
.dashboardRow2{
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 19rem 2rem 28rem 2rem 28rem 2rem 27rem 3rem;
    height: 8vh;
}
.location{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    margin: 8px 0;
    grid-column: 2/3;
}
.job{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    margin: 8px 0;
    grid-column: 4/5;
}
.workplace{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    margin: 8px 0;
    grid-column: 6/7;
}
.paid{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    margin: 8px 0;
    grid-column: 8/9;
}
.dashboardRow3 {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 108rem 3rem;
    
}
.shortDesc{
    margin: 70px 0px 40px 0px;
    grid-column: 2/3;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    height: 7vh;
}
.addJobDesc > img{
   width: 95%;
   border-radius: 20px;
}
.dashboardSubmit_link {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 108rem 3rem;
}
.dashboardSubmit_link > button {
   background: #C4C4C4;
   border-radius: 20px;
   height: 10vh;
    width: 10%;
    margin-left: 85%;
    margin-top: 2%;
    display: inline-block;
    grid-column: 2/3;;
}
.dashboardSubmit_link > button:hover{
   cursor: pointer;
}
/* .title {
position: absolute;
width: 954px;
height: 71px;
left: 75px;
top: 278px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.employment {
    position: absolute;
width: 528px;
height: 71px;
left: 1118px;
top: 278px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.location {
    position: absolute;
width: 274px;
height: 71px;
left: 76px;
top: 381px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.job {
    position: absolute;
width: 436px;
height: 71px;
left: 374px;
top: 381px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.workplace {
    position: absolute;
width: 397px;
height: 71px;
left: 834px;
top: 381px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.paid {
    position: absolute;
width: 397px;
height: 71px;
left: 1255px;
top: 381px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.shortDesc {
    position: absolute;
width: 1577px;
height: 99px;
left: 75px;
top: 559px;

background: rgba(196, 196, 196, 0.5);
border-radius: 20px;
}
.addJobDesc > img{
    position: absolute;
width: 1578px;
height: 835px;
left: 75px;
top: 730px;
border-radius: 20px;


}
.submit {
    position: absolute;
width: 233px;
height: 92px;
left: 1413px;
top: 1597px;

background: #C4C4C4;
border-radius: 20px;
} */
.test{
   font-size: larger;
   height: 20vh;
   color: #000000;
}