.jobRoleDesc{
    background-color: #E5E5E5;
    height: 200vh;
}
.businessSystem{
    position: absolute;
width: 287px;
height: 41px;
left: 46px;
top: 151px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 41px;
/* identical to box height */


color: #000000;
}
.desc {
    position: absolute;
width: 1655px;
height: 235px;
left: 36px;
top: 208px;

background: #FFFFFF;
border-radius: 20px;
}
.row1{
    display: flex;
}
.row1 > p{
    /* position: absolute; */
/* width: 617px;
height: 35px;
left: 91px;
top: 236px; */
margin-left: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 72px;

color: #000000;

}

.para {
    /* position: absolute; */
    width: 1220px;
    height: 99px;
    left: 91px;
    top: 285px;
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    text-align: left;
    color: #000000;
}
.row3 {
    /* position: absolute; */
/* width: 204px;
height: 33px;
left: 91px;
top: 398px; */
text-align: left;
margin-left: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 62px;
/* identical to box height */


color: #000000;

}
