.navbar{
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbarLeftSide{
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navbarLogo {
    width: 10rem;
    padding: 15px;
}
.navbarRightSide{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbarRightSide-items{
    font-family: 'Roboto';
    font-size: 1.5rem;  
    color: #000000;
}